<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMGUTest01.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EMGUTest01.My.MySettings>
            <setting name="Steur_Tolreanz" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Konf_MaskeH" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Konf_MaskeV" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="Konf_KameraOffset" serializeAs="String">
                <value>-40</value>
            </setting>
            <setting name="Konv_FaktorPixMilH" serializeAs="String">
                <value>1.37462</value>
            </setting>
            <setting name="Konv_FaktorPixMilB" serializeAs="String">
                <value>1.37462</value>
            </setting>
            <setting name="Konv_RoboOffsetX" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="Konv_RoboOffsetY" serializeAs="String">
                <value>1.05</value>
            </setting>
            <setting name="Ausw_TiefsteReg" serializeAs="String">
                <value>685</value>
            </setting>
            <setting name="Ausw_HöchsteReg" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Ausw_MindestObjH" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Ausw_MindestObjB" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Ausw_MindestObjT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TCP_Host" serializeAs="String">
                <value>192.168.43.14</value>
            </setting>
            <setting name="TCP_Port" serializeAs="String">
                <value>2019</value>
            </setting>
            <setting name="Konf_KameraColorOffset" serializeAs="String">
                <value>0</value>
            </setting>
        </EMGUTest01.My.MySettings>
    </userSettings>
</configuration>