<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EMGUBildverarbeitung.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <EMGUBildverarbeitung.My.MySettings>
            <setting name="TCP_Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Rever_FaktorX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rever_FaktorY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rever_OffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rever_OffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Rever_FaktorZ" serializeAs="String">
                <value>0</value>
            </setting>
        </EMGUBildverarbeitung.My.MySettings>
    </userSettings>
</configuration>